body {
    padding: 70px 0;
    margin: 0;
    background-image: url("marty-sakin-PaVNEVUIDiY-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h3 {
    color: #fff;
    background-color: #00ccff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    border-radius: 6px;
}

table, tr, td {
    border: 1px solid black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1px;
    border-radius: 6px;
    color: #009900;
    background-color: #f2f2f2;
    padding: 1px;
}

th {
    border: 1px solid black;
    align-items: left;
}

#deptname, #admissiondate, #aid, #phno, #sname {
    width: 99%;
    border: none;
}

#submit {
    color: #ffffff;
    background-color: #00ccff;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 6px;
    display: block;
    margin-top: 15px;
}

#result {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
